.services{
    margin-top: 60px;
    padding:20px;
    color:white;
}

.service_text{
    color: brown;
    margin-bottom: 20px;
}
.featurette{
    margin-top: 20px;
    padding: 10px;
}
.text_long{
    text-align: center;
}
.active{
    color:blanchedalmond;
}